 <% @task.errors.full_messages.each do |msg| %>
    <p class='text-danger'><%= msg %></p>
  <% end %>
<!-- <form action="/restaurants" method="post">
  </form> -->
<!-- form_with is expecting an instance -->
<!-- form_with builds the path and method for us -->
  <%= form_with model: @task do |f| %>
    <!-- <input type="text" name="name"> -->
    <%= f.label :name %>
    <%= f.text_field :title, class: 'form-control' %>
      <%= f.label :details %>
    <%= f.text_field :details, class: 'form-control' %>
    <%= f.check_box :completed if @task.id %>
    <%= f.label :completed if @task.id %>
    <div>
    <%= f.submit class: 'btn btn-primary mt-2' %>
    </div>
  <% end %>
